.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://i.ibb.co/vvDWW1R/logo1.jpg');
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.navbar-toggler:focus, .navbar-toggler:active {
    border: none;
    outline: 0;
    box-shadow: none;
}


.main_body {
    background: url('../img/background3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.main_body2{
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

